@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/* Start Global */
:root {
  --main-color: #4b5738;
  --secondry-color: #333333;
  --default-color: rgba(255, 255, 255, 0.418);
  --border-radius: 5px;
}

* {
  font-family: 'Roboto Mono', sans-serif;
}

body {
  height: 100vh;
  background-color: #1f1f1f;
}

.container {
  width: 90%;
  margin: auto;
}

/* End Global */


/* Start Components */

r {
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 100%;
  outline-offset: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  opacity: .7;
}

.thebar{
  width: 100%;
  height: 6px;
  margin: 10px 0;
  position: relative;
}
.bars .num {
  font-size: 11px;
  font-weight: bold;
}

button {
  margin: 10px 0;
}

.title {
  display: block;
  background-color: black;
  color: white;
  padding-left: 10px;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  width: calc(100% - 10px);
  font-size: 14px;
}

.active {
  background-color: var(--main-color) !important;
}

.active i {
  color: #a0d846 !important;

  text-shadow: 0 0 5px #a0d846;
}

.selected {
  background-color: #444444 !important;
}

.value {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: .7s;
}
.selectedAccount{
  background-image: linear-gradient(to top, #ffffff9d -100%, var(--secondry-color) 100%)!important;
}

/* End Components */

/* Start Content */

/* Start Sidebar */

.container .sideBar {
  width: 179px;
  height: 100%;
}

.sideBar .informationC {
  width: 100%;
}

.informationC .information {
  background-color: #333333;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  color: white;
}
.information .status{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(20px,1fr));
  align-items: center;
  grid-gap: 5px;
}

.informationC .information .stats {
  margin: 10px 0;
  width: 100%;
  font-size: 14px;


}

.information .stats span:not(span span) {
  display: flex;
  margin: 5px 0;


}

.information .stats span span {
  width: 70px;

}

.sideBar .account {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  border-radius: 5px;
  margin: 2px 0;
  overflow: hidden;

}

.sideBar .account div {
  padding: 10px;
  background-image: linear-gradient(to bottom, #ffffff9d -100%, var(--secondry-color) 100%);
  color: var(--default-color);
  cursor: pointer;
  position: relative;

}

.sideBar .account div:not(:last-child)::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 2px;
  height: 70%;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  z-index: 4;
  opacity: .3;
}

.account div:hover {
  background-image: linear-gradient(to top, #ffffff9d -100%, var(--secondry-color) 100%);
}

.account div:hover i {
  color: white
}
  /* Start menu */
.menu {
  height: 100%;
}

.menu nav {
  width: 100%;
}

.menu nav ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 5px 0 0 0;
}

.menu nav ul li {
  display: flex;
  align-items: center;
  background-color: var(--secondry-color);
  padding: 4px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 14px;
}

ul li i {
  width: 25px;
  margin-right: 5px;
  color: var(--default-color);
  text-shadow: 0 0 4px black;
}
ul li a {
  text-decoration: none;
  width: 100%;
  color: white;
}






  /* End menu */

/* End Sidebar */



.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
  /* Start Contain */
.content .contain {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
  /* End Contain */

/* End Content */

/* responsive */
@media (max-width: 991px) {
  
  .content{
    width: 100%;
    margin: 0;
    flex-direction: column;
    overflow: hidden;
  }
  .content .contain{
    margin-top: 80px;
  }
  .content .sideBar{
    width: 100%;
  }
  .sideBar .menu{
    order: 1;
  }
  .menu{
    background-color: var(--secondry-color);
    overflow-x: auto;
    width: 100%;
    height: 45px;
    white-space: nowrap;
}
  .menu li{
    display: inline-flex;
    margin: 0;
    width: 17px;

    position: relative;
  }
  .menu li a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
    z-index: 2;
  }
  .title{
    display: none;
  }
  .bars{
    display: flex;
    justify-content: space-around;
    }
  .bar .num{
    font-size: 8px;
    white-space: nowrap;
  }
  .bars .bar{
    width: 50px;
    position: relative;

  }
  .value{
    border-radius: 0;

  }

  .thebar{
    background-color: white;
  }
  r{
    display: none;
  }
}

























